:root {
  --black: #000000;
  --white: #f7f7f8;
  --gray: #9f9fa0;
  --orange: #f6990d;
  --dark-gray: #313131;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: var(--gray);
  color: var(--white);
  font-family: "Nunito", sans-serif;
}

.orange {
  background: var(--orange);
}

.gray {
  background: var(--gray);
}

.dark {
  background: var(--dark-gray);
}

.color-black {
  color: var(--black);
}

.calculadora {
  margin: 0 auto;
  padding: 70px 30px;
  background: var(--black);
  border-radius: 70px;
  border: 4px solid #334c5d;
  width: fit-content;
}

.display {
  height: 200px;
  margin-bottom: 10px;
  font-size: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.btn {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 35px;
  padding: 25px;
}

.big-btn {
  width: 50%;
}

.left-content {
  justify-content: flex-start;
}
